body {
margin-left: 50px;
margin-right: 50px;
font-family: Calibri;
background-image: url("https://img.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg?size=338&ext=jpg");
background-size: auto;
}
table, th, td {
margin: 20px;
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 10px;
text-align: center;
}
th {
color: white;
background-color: black;
}
.header {
top : 0;
font-size : 20px;
position : fixed;
width : 100%;
padding : 20px;
text-align : center;
background-color : gray;
}
.navbar {
top : 150px;
position : fixed;
width : 100%;
background-color : darkslateblue;
overflow : hidden;
}
.navbar a {
float : left;
font-size : 20px;
padding : 15px;
text-align : center;
text-decoration : none;
color : white;
display : block;
}
.navbar a:hover, navbar a:active {
background-color : cadetblue;
color : black;
}
.content {
margin-top : 20px;
padding : 20px;
background-color : white;
}